appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
et-xmlfile==1.1.0
fonttools==4.51.0
guidata==3.1.0
guiqwt==4.4.4
h5py==3.11.0
idna==3.7
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.8.4
numpy==1.26.4
openpyxl==3.0.10
packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
pyqt-tools==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.13
python-dateutil==2.9.0.post0
PythonQwt==0.12.1
QtPy==2.4.1
requests==2.32.2
scipy==1.13.0
six==1.16.0
soupsieve==2.5
tomli==2.0.1
urllib3==2.2.2
zipp==3.19.1
